<!-- Bottom Nav -->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-light">
    <h6 class="display-6 navbar-text-dark">
      &copy; Copyright 2020. All Rights reserved.
    </h6>
    <div class="connect-container" style="padding-right: 620px">
      <a
        href="https://github.com/nidhitrivedi09"
        target="_blank"
        rel="noopener noreferrer"
        ><img
          src="Assets/images/github.png"
          alt="ghlogo"
          class="gh-logo"
          style="height: 40px; width: 40px"
      /></a>
      <a
        href="https://linkedin.com/in/nidhi-trivedi09"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="Assets/images/linkedin.png"
          alt="ghlogo"
          class="gh-logo"
          style="height: 40px; width: 40px; color: white;" 
        />
      </a>
      <a href="https://www.facebook.com/nidhitrivedi09" target="_blank" rel="noopener noreferrer"
        ><img
          src="Assets/images/facebook.png"
          alt="tlogo"
          class="t-logo"
          style="height: 40px; width: 40px"
      /></a>
      <a href="https://www.behance.net/nidhitrivedi09" target="_blank" rel="noopener noreferrer"
        ><img
          src="Assets/behance.svg"
          alt="tlogo"
          class="t-logo"
          style="height: 40px; width: 40px"
      /></a>
    </div>
  </nav>
</footer>
