<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <!-- CSS Section -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="/@fortawesome/fontawesome-free/css/all.min.css"
    />
    <link rel="stylesheet" href="/Content/CSS/app.css" />
    <link rel="stylesheet" href="/Content/CSS/About.css" />
    <link rel="stylesheet" href="/Content/CSS/Projects.css" />
    <link rel="stylesheet" href="/Content/CSS/Services.css" />
    <link rel="stylesheet" href="/Content/CSS/Contact.css" />
    <link rel="stylesheet" href="/Content/CSS/index.css" />
    
  </head>
  <body></body>
</html>
