<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>
<div class="about-container">
  <div class="about-me">
    <div class="about-description">
      <!-- About me-->
      <h2 class="about-head">Hello, I am Nidhi Trivedi</h2>
      <p class="about-main">UI/UX Designer and Coder</p>
      <p class="about-footer">
        Passionate about Web development and Web designing
      </p>
      <a href="Assets/images/Resume.pdf" class="cvbutton">Download Resume</a>
    </div>

    <div class="about-image">
      <img src="Assets/images/My_Pic (2).jpg" alt="photo" class="image" />
    </div>
  </div>
</div>
<%- include partials/footer.ejs %>
