<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>
<div class="projects-container">
  <h1 class="header">MY PROJECTS</h1>
  <!-- My Projects-->
  <!-- Project 1-->
  <div class="project-container">
    <div class="project-info" style="margin-right: 3%">
        <svg
          style="height: 3rem; width: 3rem; opacity: 0.25"
          fill="black"
          viewBox="0 0 32 32"
          aria-hidden="true"
        >
          <path
            d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z"
          />
        </svg>
        <h2 class="project-header">Human Emotion Detection</h2>
        <p class="project-description">
          This is an AI application detects emotion of humans and gives accurate
          output about humans expression by using python programming language.
        </p>
        <a href="https://github.com/nidhitrivedi09/Human-Emotion-Detection">
          <img
            src="Assets/images/github.png"
            alt="ghlogo"
            class="gh-project-logo"
        /></a>
      </div>
      <img
        src="Assets/images/Human_Emotion.jpg"
        alt="Human_Emotion"
        class="project-image"
        style="height: 350px"
        target="_blank"
        rel="noopener noreferrer"
      />
    </div>

    <!-- Project 2-->
    <div class="project-container" style="margin-top: 3%">
      <img
        src="Assets/images/Text editor.jpg"
        alt="project3"
        class="project-image"
      />
      <div class="project-info" style="margin-left: 3%">
        <svg
          style="height: 3rem; width: 3rem; color: white; opacity: 0.25"
          fill="black"
          viewBox="0 0 32 32"
          aria-hidden="true"
        >
          <path
            d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z"
          />
        </svg>
        <h2 class="project-header">Text Editor</h2>
        <p class="project-description">
          It is a Editor ,in which we can modify text. It is a java application
          and was build with the use of java applets.
        </p>
        <a href="https://github.com/nidhitrivedi09/Text-Editor"
          ><img
            src="Assets/images/github.png"
            alt="ghlogo"
            class="gh-project-logo"
            style="width: 3%; height: 9.5%"
            target="_blank"
            rel="noopener noreferrer"
        /></a>
      </div>
    </div>

    <!-- Project 3-->
    <div class="project-container" style="margin-top: 3%">
      <div class="project-info" style="margin-right: 3%">
        <svg
          style="height: 3rem; width: 3rem; color: white; opacity: 0.25"
          fill="black"
          viewBox="0 0 32 32"
          aria-hidden="true"
        >
          <path
            d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z"
          />
        </svg>
        <h2 class="project-header">Hotel Management system</h2>
        <p class="project-description">
          It is a java application in which, I made hotel management system. It
          enters the data of user with unique id and save info for the same ,
          allocates empty room for the user if it's available.
        </p>
        <a href=" "
          ><img
            src="Assets/images/github.png"
            alt="ghlogo"
            class="gh-project-logo"
        /></a>
      </div>
      <img
        src="Assets/images/hotel_Manage.jpg"
        alt="project4"
        class="project-image"
        target="_blank"
        rel="noopener noreferrer"
      />
    </div>
  </div>
  <%- include partials/footer.ejs %>
</div>
