<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- My services-->
<main class="container">
  <h1 class="header" style="padding: 10px 5px; text-align: center">
    MY SERVICES
  </h1>
  <div style="display: flex; margin-left: 10rem">
    <!-- Service1-->
    <div class="card" style="width: 22rem; margin: 1%">
      <img
        class="card-img-top"
        src="Assets/images/coder.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Web Application Development</h5>
        <p class="card-text">
          We work with people who are dedicated towards their work as ours and
          we do everything with our core values of honesty,hard work and trust.
        </p>
      </div>
    </div>
    <!-- My services-->
    <!-- service2-->

    <div class="card" style="width: 22rem; margin: 1%">
      <img
        class="card-img-top"
        src="Assets/images/Software_developer.jpg"
        alt="Card image cap"
        style="height: 52%"
      />
      <div class="card-body">
        <h5 class="card-title">Software Development</h5>
        <p class="card-text">
          Software developers developes and test softwares,develop upgrades for
          applications,monitor quality & performance of applications
        </p>
      </div>
    </div>
  </div>
</main>

<%- include partials/footer.ejs %>
