/*Contact Page css*/
.contact-header {
  font-family: verdana;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.contact-form {
  position: relative;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
}
.span-text {
  font-size: 25px;
}
.whiteText {
  padding: 5px 5px;
  margin-left: 1%;
  font-family: inherit;
  font-size: 36px;
  margin-top: 1%;
  font-weight: 500;
  text-align: center;
}
.mail {
  background-color: orangered;
  color: white;
  border-radius: 10px;
  padding: 10px;
  border: none;
  font-size: 22px;
  /*justify-content: flex-end;*/
  margin-top: 40px;
  text-decoration: none;
  padding-right: 15px;
  text-align: center;
}
.fa {
  padding-right: 10px;
}
.btn {
  background-color: orangered;
  color: white;
  border-radius: 5px;
  padding: 5px;
  border: none;
  font-size: 22px;
  margin-top: 40px;
  text-align: center;
}
